
{% extends "template.html.twig" %}

{% block pageTitle %}
 Gestion Programme
{% endblock %}


{% block body %}

{% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger" role="alert">  {{message}} </div>
{% endfor %}

{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">  {{message}} </div>
{% endfor %}


<div class="d-flex justify-content-end"><a href="{{path('unitefonctionnelle.add')}}"> Ajout</a></div>
 
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Programme</th>
      <th scope="col">Description</th>
      <th >Operation</th>
    </tr>
  </thead>
  <tbody>
  
   {% for uniteFonct in unitefonctionnelle %}
    <tr>
      <th scope="row">{{uniteFonct.id}}</th>
      <td>{{ uniteFonct.libelle}}</td>
      <td>{{ uniteFonct.description}}</td>
      <td><a href="{{path('programme.detail',{id:uniteFonct.id})}}">detail</a></td>
      <td><a href="{{path('programme.delete',{id:uniteFonct.id})}}">suppr</a></td>
    </tr>
   {% endfor %}

 

  
  </tbody>
</table>


 <div class='row mt-2'>

 <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
 
 </div>
    



{% endblock %}
