
{% extends "template.html.twig" %}


{% block pageTitle %}
<h5 class="d-flex justify-content-center my-4 text-bold/">GESTION NIVEAU</h5>
{% endblock %}




{% block body %}

{% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger" role="alert">  {{message}} </div>
{% endfor %}

{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">  {{message}} </div>
{% endfor %}

<!-- icon ajouter -->
<div class="" style="width:30px; height:30px; background-color:rgba(33, 37, 41); border-radius:50%; box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25); float:right"><a href="{{path('niveau.edit',{id:null})}}"> <i class="fa fa-plus" style="margin:7px 7px;"></i></a></div>

<div class="form-group row">
  <label for="selectProgramL" class="col-1 col-form-label" id="selectProgramL"><i class="fa fa-calendar" aria-hidden="true"></i></label>
  <div class="col-3">
   <select name="selectProgram" id="selectProgram" class="form-select" style="margin-left: -40px;" >
  <option value="Tout" selected="selected">Tout</option>
  {% for niv in niveau  %}
  <option value="{{niv.id}}" id="{{niv.id}}">{{niv.libelle}}</option>
  {% endfor %}
</select>
<nav  style="position:absolute; right:80px; top:15px">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  </div>
  <table class="table table-bordered table-striped mt-2">
  <thead class="thead-dark" style="background-color:#6e707e52 ;">
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Niveau</th>
      <th scope="col">Categorie</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
   {% for niv in niveau %}
    <tr>
      <th scope="row">{{niv.id}}</th>
      <td>{{ niv.libelle}}</td>
      <td>{{ niv.categorie}}</td>
      <td><a href="{{path('niveau.detail',{id:niv.id})}}">detail</a></td>
      <td><a href="{{path('niveau.delete',{id:niv.id})}}">suppr</a></td>
      <td><a href="{{path('niveau.edit',{id:niv.id})}}">edit</a></td>
    </tr>
   {% endfor %}
  </tbody>
</table>
 <div class='row mt-2'>

 
 </div>
    



{% endblock %}
