
{% extends "template.html.twig" %}

{% block pageTitle %}
<h5 class="d-flex justify-content-center my-4 text-bold/">GESTION PROGAMME</h5>
{% endblock %}


{% block body %}

{% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger" role="alert">  {{message}} </div>
{% endfor %}

{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">  {{message}} </div>
{% endfor %}

<!-- 
<i class="fa fa-trash"></i> -->
<div class="" style="width:30px; height:30px; background-color:rgba(33, 37, 41); border-radius:50%; box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25); float:right"><a href="{{path('programme.edit',{id:null})}}"> <i class="fa fa-plus" style="margin:7px 7px;"></i></a></div>
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Programme</th>
      <th scope="col">Description</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
   {% for program in programme %}
    <tr>
      <th scope="row">{{program.id}}</th>
      <td>{{ program.libelle}}</td>
      <td>{{ program.description}}</td>
      <td>
        <a href="{{path('programme.detail',{id:program.id})}}" class='mx-2'> 
          <img src="{{asset('assets/icons/visibleBlue_96px.png')}}" width="15" height="15"/>
        </a> 
        <a href="{{path('programme.delete',{id:program.id})}}" class='mx-2'> 
          <img src="{{asset('assets/icons/deleteBlue_96px.png')}}" width="15" height="15"/>
        </a> 
        <a href="{{path('programme.edit',{id:program.id})}}" class='mx-2'> 
          <img src="{{asset('assets/icons/editBlue_104px.png')}}" width="15" height="15"/>
        </a>
      </td>
      
    </tr>
   {% endfor %}
  </tbody>
</table>
 <div class='row mt-2'>

 <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
 
 </div>
    



{% endblock %}
